# SSH config for SSH-based proxy server

# We use root
PermitRootLogin yes

# Read server host keys from /root (copied from /config)
HostKey /root/ssh_host_rsa_key
HostKey /root/ssh_host_ecdsa_key
HostKey /root/ssh_host_ed25519_key

# Read authorized keys from /config
AuthorizedKeysFile /config/authorized_keys

# Tighten up login policy
PasswordAuthentication no
ChallengeResponseAuthentication no
LoginGraceTime 5s

# Keep-alive for 5 minutes
ClientAliveInterval 30s
ClientAliveCountMax 10

## One session per connection (no multiplexing)
#MaxSessions 1

# Allow forwarding and tunneling
AllowTcpForwarding yes
PermitTunnel yes

# No cruft
PrintMotd no
